@import url('https://fonts.googleapis.com/css2?family=Anton&family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&display=swap https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');


/* MOD - RESET =========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #9fc552;
    background-color:  rgb(243, 243, 243);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #393c34;
}
/*ROOT - VAR - COLOR*/
:root{
    --background-description: #d3f492;
    --border-description: #2c3a0f;
    --background-header: #8BA55C;
    --background-header2: #124902;
    --button-background-color: #6B8E23;
    --button-color-text: #ebf5d8;
    --button-background-color-hover: #2c3a0f;
}
/* MOD - HEADER =========*/
.topo{
    background-color: var(--background-header);
    background-image: url(imagens/header8.png);
    background-repeat: repeat;
    background-position: 50% 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-img-logo{
    border-radius: 80px;
    padding: 15px 0;
}
.zoom{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    box-shadow: -3px 2px 11px black;
    border-style: solid;
    border-color: #57895d;
}
.search-item{
    
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #a7a7a7;
    border-radius: 10px;
    background-image: url(imagens/search.svg);
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 20px;
    border-style: solid;
    border-color: white;
}

.link{
    text-decoration: none;
    color:#393c34;
}
.nav-container{
    width: 100%;
}
.menu {
    display: flex;
    list-style: none;
    background-color:#d3f492;
    text-decoration: none;
}
.nav-item {
    font-size: 18px;
    padding: 6px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #2c3a0f;
    cursor: pointer;
}
.nav-item:hover {
    background-color: rgb(107, 137, 113,0.3);
}
.text {
    text-align: center;
    margin-bottom: 10px;
    font: 400 22px "Anton";
    background-color: #393c34;
}
.text-large {
    font: 400 24px "Sedan";
    text-align: center;
    color: #393c34;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
}

/* ======== MOD - MAIN  =======*/

.banner{
    box-shadow: 0px 1px 2px black;
    width: 100%;
    
    margin: auto;
}
.main-about{
    background-image: url(imagens/banner-sobre.png);
    background-repeat: no-repeat;
    font-size: 50px;
}
.main-cupom{
    text-align: center;
    width: 80%;
    margin: auto;
}
.title-container{
    font-size: 25px;
    color: var(--button-background-color);
}
.evidence {
    display: grid;
    margin-bottom: 6px;
}
.evidence-title{
    text-align: left;
    margin-bottom: 10px;
    font: 400 22px "Anton";
    background-color: #2c3a0f;
}

.produto-img{
    max-width: 100%;
    max-height: 100%;
}
.corpo{
    display: flex;
}
.product-container ,.index-container{
    width: 75%;
    margin: auto;
}
.product{
    background-color: white;
    margin: 7px;
    text-align: center;
    box-shadow: 3px 3px 3px #12490270;
    border-radius: 13px;
}
.information-buy-container{
    margin: 0px 5px;
}
.product-name{
    justify-content: start;
    font-size: 12px;
}

.product-price{
    font-size: 15px;
    color: #393c34;
}
.card-parcel{
    color: #908282;
    font-size: 10px;
}
.image-description{
    display: flex;
}
.description{
    color: black;
    border-style: solid;
    border-color: var(--border-description);
    font-size: 24px;
    width: 100%;
    display: flex;
    background-color: var(--fundo);
}
.evidence-image{
    width: 350px;
    height: 350px;
    margin-right: 10px;
}
.button-container{
    text-align: center;
}
.button-index{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    cursor: cell;
    padding: 10px 15px;
    border-style: solid;
    border-color: #6B8E23;
    float: inherit;  
    margin: 10px 0px;
}
.button-index:hover{
    background-color: #2c3a0f;
}
.button{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    float: inherit;
    margin: 5px;
    background-image: url(imagens/cart-button.svg);
    background-repeat: no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
    background-position: 2px;
}
.button:hover{
    background-color: #2c3a0f;
}
.button-cupom{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    padding: 10px 15px;
    border-style: solid;
    border-color: #6B8E23;
    float: inherit;  
    margin: 10px 0px;
}

/* MOD - MENU - CADASTRO =========*/
.main-register{
    text-align: center;
}
.fieldset-register{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-color: var(--button-background-color);
    background-color: var(--background-description);
    border-radius: 5px;
    box-shadow: -10px 8px 1px rgba(13, 59, 9, 0.541);
}
.p-register{
    color: var(--background-header2);

}
.label-register{
    display: block;
    margin-bottom: 15px;
}
.input-register{
    padding: 5px 50px 5px 10px;
    color: var(--background-header);
}
.input-register-sex{
    padding: 5px 50px 5px 10px;
    color: var(--button-background-color-hover);
}
.legend-register{
    color: var(--background-header2);
    font-size: 40px;
}
.button-register-container{
    text-align: center;
}
.button-confirm-register{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    padding: 16px 20px;
    float: inherit;  
    margin: 5px 12px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.button-confirm-register:hover{
    background-color: #2c3a0f;
}
/* MOD - MENU - CARRINHO ========= */
.cart-main{
    height: 160px;
}
.main-cart-container{
    text-align: center;
}
.no-product-cart{
    color: var(--button-background-color);
    font: 400 15px "Anton";
}
.shopping-button{
    border: 0;
    background-color: var(--button-background-color);
    color: var(--button-color-text);
    padding: 16px 20px;
    cursor: pointer;
}
.shopping-button:hover{
    background-color: #2c3a0f;
}
/* MOD - FOOTER  ==========*/

.footer{
    font-size: 15px;
    background-color: #393c34;
    color:#8BA55C;
}

.img-footer{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.footer-container{
    display: flex;
    color: white;
    margin-left: 12px;
    margin-right: 10px;
}
.container ul{
    width: 25%;
    margin-left: 12px;
}
.footer-container h3{
    margin-bottom: 16px;
    font-weight: 600;
    margin: 6px 20px;
}
.footer-text{
    margin-bottom: 40px;
    margin-right: 12px;
}
.footer-container li{
    margin: 6px 20px;
}
.footer-container a{
    color: white;
}
.footer-list-nav{
    margin-left: auto;
    margin-top: 10px;
}
.footer-list-suport{
    margin-left: auto;
    margin-top: 10px;
}
.footer-list-contact{
    margin-left: auto;
    margin-top: 10px;
    margin-right: 20px;
}
.footer-list-card{
    margin-left: auto;
    margin-top: 10px;
}
.line-vertical{
    margin-top: 5px;
    height: 150px;
}
.line-horizontal{
    height: 2.5px;
    background-color: white;
    border-radius: 20px;
}
.img-card-container{
    margin: 5px 17px;
}
.card{
    width: 40px;
    height: 40px;
}
.redes-sociais{
    display: flex;
    text-decoration: none;
    margin-top: 30px;
   
}
/*NAV SUB ITENS=================*/
.sub-itens{
    display: none;
    background-color: azure;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
}
.nav-item:hover .sub-itens{
    display: block;
}
.sub-itens li{
    margin-bottom: 5px;
}
.sub-itens a{
    color: #2c3a0f;
    text-decoration: none;
}
.sub-itens a:hover{
    background-color: rgba(0, 0, 0, 0.055);
}
