@import url('https://fonts.googleapis.com/css2?family=Anton&family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&display=swap https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');


/* MOD - RESET =========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #9fc552;
    background-color:  rgb(243, 243, 243);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #393c34;
}
/*ROOT - VAR - COLOR*/
:root{
    --background-description: #d3f492;
    --border-description: #2c3a0f;
    --background-header: #8BA55C;
    --background-header2: #124902;
    --button-background-color: #6B8E23;
    --button-color-text: #ebf5d8;
    --button-background-color-hover: #2c3a0f;
}
/* MOD - HEADER =========*/
.topo{
    background-color: var(--background-header);
    background-image: url(imagens/header8.png);
    background-repeat: repeat;
    background-position: 50% 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-img-logo{
    border-radius: 80px;
    padding: 15px 0;
}
.zoom{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    box-shadow: -3px 2px 11px black;
    border-style: solid;
    border-color: #57895d;
}
.search-item{
    
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #a7a7a7;
    border-radius: 10px;
    background-image: url(imagens/search.svg);
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 20px;
    border-style: solid;
    border-color: white;
}

.link{
    text-decoration: none;
    color:#393c34;
}
.nav-container{
    width: 100%;
}
.menu {
    display: flex;
    list-style: none;
    background-color:#d3f492;
    text-decoration: none;
}
.nav-item {
    font-size: 18px;
    padding: 6px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #2c3a0f;
    cursor: pointer;
}
.nav-item:hover {
    background-color: rgb(107, 137, 113,0.3);
}
.text {
    text-align: center;
    margin-bottom: 10px;
    font: 400 22px "Anton";
    background-color: #393c34;
}
.text-large {
    font: 400 24px "Sedan";
    text-align: center;
    color: #393c34;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
}

/* ======== MOD - MAIN  =======*/
.navegacao{
    width: 50%;
    margin: 10px 1px;
    margin: auto;
}
.button-products-nav{
    color: #000000;
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
    transition: 0.5s;
    border: 1px solid var(--background-header2);
    margin: 10px 2px;
}
.button-products-nav:hover{
    background-color: var(--button-background-color-hover);
    color: white;
}

.banner{
    box-shadow: 0px 1px 2px black;
    width: 100%;
    margin: auto;
}
.swal2-close{
    display: block;
}

.main-cupom{
    display: flex;
    text-align: center;
    margin: 0 auto;
}
#cupom{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    padding: 10px 15px;
    border-style: solid;
    border-color: #6B8E23;
    float: inherit;  
    display: flex;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 12px;
}
.title-container{
    font-size: 25px;
    color: var(--button-background-color);
}
.produto-img{
    max-width: 100%;
    max-height: 100%;
}
.corpo{
    display: flex;
}
.product-container ,.index-container ,.main-about,.banner-cupons{
    width: 75%;
    margin: auto;
}
.product{
    background-color: white;
    margin: 7px;
    text-align: center;
    box-shadow: 3px 3px 3px #12490270;
    border-radius: 13px;
}
.product p {
    display: none;
}
.product:hover p{
    display: block;
    color: #393c34;
    font-size: 16px;
    justify-content: center;
}
.information-buy-container{
    margin: 0px 5px;
}
.product-name{
    justify-content: start;
    font-size: 12px;
}

.product-price{
    font-size: 15px;
    color: #393c34;
}
.card-parcel{
    color: #908282;
    font-size: 10px;
}

.button-container{
    text-align: center;
}
.button-index{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    cursor: cell;
    padding: 10px 15px;
    border-style: solid;
    border-color: #6B8E23;
    float: inherit;  
    margin: 10px 0px;
}
.button-index:hover{
    background-color: #2c3a0f;
}
.button{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    float: inherit;
    margin: 5px;
    background-image: url(imagens/cart-button.svg);
    background-repeat: no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
    background-position: 2px;
}
.button:hover{
    background-color: #2c3a0f;
}
.button-cupom {
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    padding: 10px 15px;
    border-style: solid;
    border-color: #6B8E23;
    float: inherit;  
    display: flex;
    margin: 0 auto;
}

#btn-show-sweetalert{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    padding: 10px 15px;
    border-style: solid;
    border-color: #6B8E23;
    float: inherit;  
    display: flex;
    margin: 0 auto;
    margin-bottom: 16px;
}

 .ancora{
    border: 0;
    background: initial;
    color: #fff;
    font-size: 24px;
    padding: 12px;
}   

/* MOD - MENU - CADASTRO =========*/
.main-register{
    text-align: center;
}
.fieldset-register{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-color: var(--button-background-color);
    background-color: var(--background-description);
    border-radius: 5px;
    box-shadow: -10px 8px 1px rgba(13, 59, 9, 0.541);
}
.p-register{
    color: var(--background-header2);

}
.label-register{
    display: block;
    margin-bottom: 15px;
}
.input-register{
    padding: 5px 50px 5px 10px;
    color: var(--background-header);
}
.input-register-sex{
    padding: 5px 50px 5px 10px;
    color: var(--button-background-color-hover);
}
.legend-register{
    color: var(--background-header2);
    font-size: 40px;
}
.button-register-container{
    text-align: center;
}
.button-confirm-register{
    background-color: #6B8E23;
    color: #ebf5d8;
    font-weight: bold;
    padding: 16px 20px;
    float: inherit;  
    margin: 5px 12px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.button-confirm-register:hover{
    background-color: #2c3a0f;
}
/* MOD - MENU - CARRINHO ========= */
.main-cart-container-sumir {
    text-align: center;
    display: none;
}
.main-cart-container-newpage{
    text-align: center;
    display: block;
}
.cart-main{
    height: 160px;
}
.main-cart-container{
    text-align: center;
}
.no-product-cart{
    color: var(--button-background-color);
    font: 400 15px "Anton";
}
.shopping-button{
    border: 0;
    background-color: var(--button-background-color);
    color: var(--button-color-text);
    padding: 16px 20px;
    cursor: pointer;
}
.shopping-button:hover{
    background-color: #2c3a0f;
}


/* MOD - FOOTER  ==========*/

.footer{
    font-size: 15px;
    background-color: #393c34;
    color:#8BA55C;
}

.img-footer{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.footer-container{
    display: flex;
    color: white;
    margin-left: 12px;
    margin-right: 10px;
}
.container ul{
    width: 25%;
    margin-left: 12px;
}
.footer-container h3{
    margin-bottom: 16px;
    font-weight: 600;
    margin: 6px 20px;
}
.footer-text{
    margin-bottom: 40px;
    margin-right: 12px;
}
.footer-container li{
    margin: 6px 20px;
}
.footer-container a{
    color: white;
}
.footer-list-nav{
    margin-left: auto;
    margin-top: 10px;
}
.footer-list-suport{
    margin-left: auto;
    margin-top: 10px;
}
.footer-list-contact{
    margin-left: auto;
    margin-top: 10px;
    margin-right: 20px;
}
.footer-list-card{
    margin-left: auto;
    margin-top: 10px;
}
.line-vertical{
    margin-top: 5px;
    height: 150px;
}
.line-horizontal{
    height: 2.5px;
    background-color: white;
    border-radius: 20px;
}
.img-card-container{
    margin: 5px 17px;
}
.card{
    width: 40px;
    height: 40px;
}
.redes-sociais{
    display: flex;
    text-decoration: none;
    margin-top: 30px; 
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
    background-color:#9fc552
}

/*==========Index===========*/
.slider{
  margin: 0 auto;
  width:800px;
  height: 400px;
  overflow: hidden; 
  align-items: center; 
}
.slides{
   width: 400%;
   height: 400px;
   display: flex; 
}
.slides input {
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slides img{
    width: 800px;  
}
.manual-navigation{  
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border:2px solid var(--background-header);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
   background-color: var(--button-background-color-hover);
}
#radio1:checked ~ .frist{
    margin-left: 0 ;
}
#radio2:checked ~ .frist{
    margin-left:-25% ;
}
#radio3:checked ~ .frist{
   margin-left: -50% ;
}
#radio4:checked ~ .frist{
   margin-left: -75%;
}
#radio5:checked ~ .frist{
    margin-left: -100%;
 }

.navigation-auto div{
    border: 2px solid #57895d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: relative;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #d5f1a1;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #ebf5d8;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #d5f1a1;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #d5f1a1;
}
#radio5:checked ~.navigation-auto .auto-btn5{
    background-color: #d5f1a1;
}

/*==========RESPONSIVIDADE===============*/
@media(max-width:845px ){
    .footer-container{
        display: block;
    }
    .nav-item{
        font-size: 10px;
    }
    .topo{
        font-size: 100px;
    }
    .slider{
        width: 600px;
    }
    .manual-navigation{
        width: 600px;
    }
}
@media (min-width: 375px) and (max-width: 725px){
    .slider{
        width: 400px;
        height: 220px;
    }
    
}
@media (min-width: 320px) and (max-width: 768px){
    .corpo{
        display: grid;
    }
    .footer-container{
        font-size: 12px;
    }
    .text-large{
        font-size: 12px;
    }
}
@media(max-width:925px){
    .slides img {
        width: 668px;
    }
    .slider{
        margin: auto;
        width:668px;
        height: 400px;
        overflow: hidden;
    }
}
@media(max-width:803px){
    .slides img {
        width: 601px;
    }
    .slider{
        margin: auto;
        width: 601px;
        height: 297px;
        overflow: hidden;
    }
}
@media(max-width: 775px){
    .slider {
        margin: auto;
        width: 581px;
        height: 286px;
        overflow: hidden;
    }
    .slides img{
        width: 581px;
    }
    .slides {
        width: 400%;
        height: 295px;
        display: flex;
    }
}
@media(max-width: 675px){
    .slider {
        margin: auto;
        width: 510px;
        height: 140px;
        overflow: hidden;
    }
    .slides img{
        width: 510px;
    }
    #btn-show-sweetalert{
        margin-top: 15px;
    }
}
@media (max-width: 585px) {
    .slider {
        margin: auto;
        width: 438px;
        height: 145px;
        overflow: hidden;
    }
    .slides img{
        width: 438px;
    }
}
@media (max-width: 500px) {
    .slider {
        margin: auto;
        width: 374px;
        height: 145px;
        overflow: hidden;
    }
    .slides img{
        width: 374px;
    }
}
@media (max-width: 475px) {
    .slider {
        margin: auto;
        width: 382px;
        height: 140px;
        overflow: hidden;
    }
    .slides img{
        width: 382px;
    }
}
@media (max-width: 438px) {
    .slider {
        margin: auto;
        width: 328px;
        height: 140px;
        overflow: hidden;
    }
    .slides img{
        width: 328px;
    }
}
@media (max-width: 412px) {
    .slider {
        margin: auto;
        width: 300px;
        height: 140px;
        overflow: hidden;
    }
    .slides img{
        width: 300px;
    }
}
@media (max-width: 377px) {
    .slider {
        margin: auto;
        width: 250px;
        height: 140px;
        overflow: hidden;
    }
    .slides img{
        width: 252px;
    }
}
@media (max-width: 374px) {
    .slider {
        margin: auto;
        width: 281px;
        height: 140px;
        overflow: hidden;
    }
    .slides {
        width: 400%;
        height: 170px;
        display: flex;
    }
    .slides img{
        width: 281px;
    }
    .manual-navigation {
        width: 280px;
    }
}

@media (max-width: 320px) {
    .slider {
        margin: auto;
        width: 238px;
        height: 150px;
        overflow: hidden;
    }
    .manual-navigation {
        width: 236px;
    }
    .slides img{
        width: 238px;
    }
}
@media (max-width: 425px){
    .manual-navigation{
        display: none;
    }
}
@media(max-width:925px){
    .manual-navigation{
        display: none;
    }
}